* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#canvas1 {
    background: url('../Assets/images/background.jpg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#overlay {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;   
}

#obstacles, #bull, #egg, #toad, #toads, #larva {
    display: none;
}

#volumeToggle {
    /* Add styles for the play button */
        position: absolute;
        top: 8%; /* Adjust the top position as needed */
        left: 37%; /* Adjust the left position as needed */
        transform: translate(-30%, -50%);
        padding: 10px 20px;
        font-size: 30px;
        background-color: #edf813;
        color: rgb(7, 7, 7);
        border: none;
        cursor: pointer;
      
}
#game-container {
    position: relative;
  }

 button {
    position: absolute;
    top: 8%; /* Adjust the top position as needed */
    left: 85%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 30px;
    background-color: #edf813;
    color: rgb(7, 7, 7);
    border: none;
    cursor: pointer;
  }

  /* Modal Styles */
  .modal {
    position: absolute;
   top: 50%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%);
  width:900px;
  height: 500px;
  background-color: hsla(75, 25%, 97%, 0.986);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: none;
  /* Adjust the popup styles as needed */
}

.modal-content {
    background-color: hsl(298, 90%, 16%);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: rgb(252, 249, 249);
    padding: 10px 20px;
    font-size: 30px;
  }

  .instructions-content {
    margin-top: 10px;
    color: hsl(298, 90%, 16%);
    padding: 20px 40px;
    font-size: 40px;
  }

 
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }